# En este archivo van todas las cosas que no queremos que se incluyan 
# cuando hagamos git add . 
# debajo de esta linea comenzamos con los archivos separados


# Cambios para solucionar conflictos en el merge y las librerias utilizadas

*.log 
*.a
*.class
*.o

# permitiendo que el .jar de libs jale

!/ProyectoConstruccion/libs/*.jar
!/ProyectoConstruccion/test/*.jar

# ahora con las depenendcias

/ProyectoConstruccion/*.mf
/ProyectoConstruccion/*.xml
/ProyectoConstruccion/dist/
/ProyectoConstruccion/dist/*.*
/ProyectoConstruccion/dist/*.jar
/ProyectoConstruccion/build/
/ProyectoConstruccion/build/*.*
/ProyectoConstruccion/build/*.jar
/ProyectoConstruccion/nbproject/private/private.*

#en esta ultima linea ignoramos los private que son los principales conflictos